# تجاهل المجلدات الافتراضية لبايثون والكاش
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# تجاهل مجلد البيانات (لأن البيانات هيتم سحبها وحفظها عبر الـ Volume المربوط بجهازك)
data/

# تجاهل ملفات النظام والـ Git
.git
.gitignore
.vscode/
.idea/

# تجاهل ملفات التوثيق والـ Logs غير الضرورية للتشغيل
*.log
tree.txt
README.md
README.Docker.md