# local SQL Server Configuration
LOCAL_SQL_SERVER=your-server-name
LOCAL_SQL_DATABASE=your_database_name

# Azure SQL Server Configuration Example
AZURE_SQL_SERVER=your-server-name.database.windows.net
AZURE_SQL_DATABASE=your_database_name
AZURE_SQL_USER=your_username
AZURE_SQL_PASSWORD=your_strong_password
AZURE_STORAGE_CONNECTION_STRING=your_actual_azure_storage_connection_string_here
